<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>HelloWorldExample</servlet-name>
        <servlet-class>HelloWorldExample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S1</servlet-name>
        <servlet-class>S1</servlet-class>
    </servlet>
	<servlet>
        	<servlet-name>Stud</servlet-name>
        	<servlet-class>Stud</servlet-class>
  	</servlet>
	<servlet>
        	<servlet-name>CookieDemo</servlet-name>
        	<servlet-class>CookieDemo</servlet-class>
  	</servlet>
	<servlet>
        	<servlet-name>GetCookie</servlet-name>
        	<servlet-class>GetCookie</servlet-class>
  	</servlet>
	<servlet>
        	<servlet-name>st4</servlet-name>
        	<servlet-class>st4</servlet-class>
  	</servlet>
	<servlet>
        	<servlet-name>SessionTr1</servlet-name>
        	<servlet-class>SessionTr1</servlet-class>
  	</servlet>
	<servlet>
        	<servlet-name>Address</servlet-name>
        	<servlet-class>Address</servlet-class>
  	</servlet>
	<servlet>
        	<servlet-name>InitParam</servlet-name>
        	<servlet-class>InitParam</servlet-class>
  	</servlet>


    <servlet-mapping>
        <servlet-name>HelloWorldExample</servlet-name>
        <url-pattern>/HelloWorldExample</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>S1</servlet-name>
        <url-pattern>/S1</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>Stud</servlet-name>
        <url-pattern>/Stud</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        	<servlet-name>CookieDemo</servlet-name>
       		 <url-pattern>/CookieDemo</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        	<servlet-name>GetCookie</servlet-name>
       		 <url-pattern>/GetCookie</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        	<servlet-name>st4</servlet-name>
       		 <url-pattern>/st4</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        	<servlet-name>SessionTr1</servlet-name>
       		 <url-pattern>/SessionTr1</url-pattern>
    </servlet-mapping>
 	<servlet-mapping>
        	<servlet-name>Address</servlet-name>
       		 <url-pattern>/Address</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        	<servlet-name>InitParam</servlet-name>
       		 <url-pattern>/InitParam</url-pattern>
    </servlet-mapping>
 
</web-app>
